<?!= include('Templates/includes/top') ?>
<?!= include('Templates/includes/header') ?>

<section class="container" id="main">

    <div class="row">

        <div class="col-md-6 offset-md-3">

            <div class="card p-4 eval">

                <div class="card-body">
                    <div class="card-title eval__title">
                        <h1 class="text-center">Evalaución docente</h1>
                    </div>
                    <hr>
                    <form class="eval__form" @submit.prevent="save_data">

                        <div class="form-group">
                            <label for="">Oferta académica:</label>
                            <select class="form-control" v-model="response[0].value" @change="get_subjects">
                                <? var careers = FORM_APP.get_academic_offert() ?>
                                <? for(var c = 0; c < careers.length; c++){ ?>
                                    <? if(careers[c]){ ?>
                                        <option value="<?!= careers[c] ?>"><?!= careers[c] ?></option>
                                    <? } ?>
                                <? } ?>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Grado:</label>
                            <select class="form-control" v-model="response[1].value" @change="get_subjects">
                                <option v-for="i in 8" :value="i">{{i}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Grupo:</label>
                            <select class="form-control" v-model="response[2].value" @change="get_subjects">
                                <option v-for="i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'REC']" :value="i">{{i}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Asignatura:</label>
                            <select class="form-control" v-model="response[3].value" @change="get_teacher">
                                <option v-for="subject, index in subjects" :value="subject.subject">{{subject.subject}}</option>
                            </select>
                        </div>
                        <div class="form-group mb-5">
                            <label for="">Profesor:</label>
                            <input type="text" class="form-control" v-model="response[4].value" disabled>
                        </div>

                        <div class="alert alert-primary" role="alert">
                            EL rango de los siguinetes campos va de 1 a 5, donde 1 significa <b>Mal</b> y 5 <b>Excelente</b>
                        </div>

                        <? var data = FORM_APP.create_fields_and_virtual_table() ?>
                        <? var form = FORM_APP.get_form(data) ?>
                        <?!= form.as_p().replace(new RegExp('<p>', 'gi'), '<div class="form-group">').replace(new RegExp('</p>', 'gi'), '</div>') ?>

                        <button type="submit" class="btn btn-udes btn-block mt-5">Enviar</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

</section>


<script>
    const main = new Vue({
        el: '#main',
        data: {
            set_as_participation: true,
            response: [
                { value: '', required: true },
                { value: '', required: true },
                { value: '', required: true },
                { value: '', required: true },
                { value: '', required: true },
                <? for(var j = 0; j < form.fields_data.length; j++){ ?>
                    { value: '', required: <?!= form.fields_data[j].required ?> },
                    <?}?>
            ],
            subjects: [],
        },
    methods: {
        /**
        * Obtiene las Asignaturas, las asignaturas
        * obtenidas están en el formato:
        * [{subject: string, teacher: string}, ...]
        */
        get_subjects(){
            if (this.response[0].value && this.response[1].value && this.response[2].value) {
                bootbox.alert(`<div class="alert alert-info" role="alert">
                            Recuperando asignaruras de ${this.response[1].value}${this.response[2].value} de ${this.response[0].value}
                            </div>`);
                google.script.run.withFailureHandler(e => {
                    console.log(e);
                }).withSuccessHandler(subjects => {
                    this.subjects = subjects;
                    bootbox.alert(`<div class="alert alert-success" role="alert">
                                   Asignaturas recuperadas, ya puedes evaluar a tus docentes.
                                    </div>`);
                }).search_subject(this.response[0].value, this.response[1].value, this.response[2].value);

            }
        },
        /**
        * Obtiene al docente de la asignatura
        */
        get_teacher(){
            if (this.response[3].value) {
                let teacher = this.subjects.filter(el => {
                    return el.subject === this.response[3].value;
                });
                try {
                    this.response[4].value = teacher[0].teacher;
                } catch (error) {
                    this.response[4].value = '';
                }
            }
        },

        /**
        * Almacena los datos.
        */
        save_data(){
            if (this.questions_answered()) {
                bootbox.alert(`<div class="alert alert-info" role="alert">
                                   Estoy guardando tu respuestas, espera un momento por favor...
                                    </div>`);
                google.script.run.withFailureHandler(e => {
                    console.log(e);
                }).withSuccessHandler(saved => {
                    if (saved) {
                        this.remove_subject(this.response[3].value);
                        this.clear_responses();
                        bootbox.alert(`<div class="alert alert-success" role="alert">
                                   Datos guardados, puedes continuar evaluando.
                                    </div>`);
                        this.set_as_participation = false;
                        window.scroll(0,0);
                        if (this.subjects.length < 1) {
                            window.open('<?!= urlApp("finish") ?>', '_top');
                        }
                    }else{
                        bootbox.alert(`<div class="alert alert-danger" role="alert">
                                   No se pudieron guardar tus respuestas, intenta enviarlas de nuevo,
                                   si el problema persiste ponte en contacto con el área de soporte
                                   de UDES Universidad.
                                    </div>`);
                    }
                }).save_answer(this.response, this.set_as_participation);
            } else {
                bootbox.alert(`<div class="alert alert-warning" role="alert">
                               ¡Ups!, parece que no has llenado todos los campos requeridos.
                                </div>`);
            }
        },

        /**
         * Revisa si ya se contestaron las pregutnas
         * marcadas como requeridas.
        */
        questions_answered(){
            let answered = false;
            for (let i = 0; i < this.response.length; i++) {
                if (this.response[i].required) {
                    if (this.response[i].value) {
                        answered = true;
                    } else {
                        return false;
                    }
                }
            }

            return answered
        },

        /**
        * Elimina una asignatura del array de asignaturas.
        */
        remove_subject(subject){
            for (let i = 0; i < this.subjects.length; i++) {
                const element = this.subjects[i];
                if (element.subject === subject) {
                    this.subjects.splice(i, 1);
                    break;
                }
            }
        },

        /**
         * Limpia las respuestas.
        */
        clear_responses(){
            for (let i = 3; i < this.response.length; i++) {
                this.response[i].value = '';
            }
        },
    }
    });


</script>

<?!= include('Templates/includes/footer') ?>
<?!= include('Templates/includes/botom') ?>