<?!= include('Templates/includes/top') ?>
    <?!= include('Templates/includes/header') ?>

        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title h3">
                                ¡Ajá, ya contestaste!
                            </div>
                            <hr>
                            <div class="card-text">
                                <div class="alert alert-danger" role="alert">
                                    Si no has contestado la evalauación docente ponte en contacto con tu coordinador.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <?!= include('Templates/includes/footer') ?>
            <?!= include('Templates/includes/botom') ?>